<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ministore.pointofsale.mapper.SaleMapper">
    <resultMap id="BaseResult" type="com.ministore.pointofsale.model.Sale">
        <result column="id" property="id"/>
        <result column="date_of_purchase" property="dateOfPurchase"/>
        <result column="cash_received" property="cashReceived"/>
        <result column="change" property="change"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, date_of_purchase, cash_received, change
    </sql>

    <select id="queryAll" resultMap="BaseResult">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sale
    </select>

    <insert id="insert" parameterType="com.ministore.pointofsale.model.Sale">
        INSERT INTO sale(date_of_purchase, cash_received, change)
        VALUES (#{dateOfPurchase}, #{cashReceived}, #{change})
    </insert>

    <select id="queryById" resultMap="BaseResult">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sale
        WHERE id = #{id}
    </select>

    <update id="updateById" parameterType="com.ministore.pointofsale.model.Sale">
        UPDATE sale
        <set>
            <if test="dateOfPurchase != null">
                date_of_purchase = #{dateOfPurchase},
            </if>
            <if test="cashReceived != null">
                cash_received = #{cashReceived},
            </if>
            <if test="change != null">
                change = #{change}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM sale
        where id = #{id}
    </delete>

</mapper>




